<div id="<%= dom_id message %>">
  <p>
    <strong>Body:</strong>
    <%= message.body %>
  </p>

  <%= link_to "Show Message", message %>
  <%= button_to "Delete Message", message_path(message) ,method: :delete %>
</div>
